* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Aleo", serif;
}
body .wrapper .container header .first-screen {
  background-image: url("../img/first-screen.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 820px;
}
body .wrapper .container header .first-screen .first-screen__content {
  max-width: 1110px;
  margin: 0 auto;
  text-align: center;
  padding: 230px 230px;
}
body .wrapper .container header .first-screen .first-screen__content .first-screen__logo {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-size: 48px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
}
body .wrapper .container header .first-screen .first-screen__content .first-screen__logo span {
  font-size: 22px;
  font-weight: 400;
  display: block;
  letter-spacing: 5px;
  margin-top: 10px;
}
body .wrapper .container header .first-screen .first-screen__content .first-screen__search {
  padding: 2px;
  background-color: white;
  max-width: 650px;
  margin: 50px auto 120px auto;
  flex-direction: row;
  justify-content: space-between;
}
body .wrapper .container header .first-screen .first-screen__content .first-screen__search form {
  display: flex;
}
body .wrapper .container header .first-screen .first-screen__content .first-screen__search form input[type=search] {
  flex: 0 0 75%;
  color: #999999;
  font-size: 14px;
  padding: 20px 30px;
  letter-spacing: 1px;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}
body .wrapper .container header .first-screen .first-screen__content .first-screen__search form input[type=submit] {
  flex: 0 0 25%;
  background-image: url("../img/loupe.png");
  background-position-Y: 50%;
  background-position-x: 90%;
  background-repeat: no-repeat;
  background-color: #5474fd;
  color: white;
  font-size: 14px;
  padding: 23px 30px 20px 30px;
  letter-spacing: 1px;
}
body .wrapper .container header .first-screen .first-screen__content .first-screen__search form input[type=submit]:hover {
  cursor: pointer;
}
body .wrapper .container header .first-screen .first-screen__content .first-screen__scroll-down .scroll-down__text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: white;
  letter-spacing: 2px;
  font-weight: 400;
}
body .wrapper .container header .first-screen .first-screen__content .first-screen__scroll-down .scroll-down__icon svg {
  width: 13px;
  height: auto;
}
body .wrapper .container header .menu {
  width: 100%;
  background-color: #5474fd;
  top: 0;
  left: 0;
  z-index: 50;
}
body .wrapper .container header .menu:before {
  content: "";
  position: absolute;
  top: 820px;
  left: 0;
  width: 100%;
  background-color: #5474fd;
  z-index: 3;
}
body .wrapper .container header .menu .header__container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0px 30px;
}
body .wrapper .container header .menu .header__container .container__body {
  display: flex;
  margin: 0 -50px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: relative;
}
body .wrapper .container header .menu .header__container .container__body .header__logo a {
  position: relative;
  z-index: 3;
  font-size: 24px;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  margin: 5px 0px 0px 20px;
  display: block;
}
body .wrapper .container header .menu .header__container .container__body .header__menu .header__list {
  display: flex;
  position: relative;
  z-index: 3;
}
body .wrapper .container header .menu .header__container .container__body .header__menu .header__list li {
  list-style: none;
  margin: 0px 20px;
}
body .wrapper .container header .menu .header__container .container__body .header__menu .header__list li .header__link {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
}
body .wrapper .container main .why-choose-us {
  background-image: url("../img/why-choose-us.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body .wrapper .container main .why-choose-us .why-choose-us__content {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
  color: white;
  min-height: 820px;
}
body .wrapper .container main .why-choose-us .why-choose-us__content .why-choose-us__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 500px;
  gap: 60px;
}
body .wrapper .container main .why-choose-us .why-choose-us__content .why-choose-us__container .why-choose-us__container__text-container {
  flex: 1 1 40%;
}
body .wrapper .container main .why-choose-us .why-choose-us__content .why-choose-us__container .why-choose-us__container__text-container .why-choose-us__container__text-container__headline {
  font-size: 36px;
  line-height: 26px;
  margin-bottom: 60px;
}
body .wrapper .container main .why-choose-us .why-choose-us__content .why-choose-us__container .why-choose-us__container__text-container .why-choose-us__container__text-container__paragraph {
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
}
body .wrapper .container main .why-choose-us .why-choose-us__content .why-choose-us__container .why-choose-us__container__text-container .why-choose-us__container__text-container__paragraph div {
  margin-bottom: 35px;
}
body .wrapper .container main .why-choose-us .why-choose-us__content .why-choose-us__container .why-choose-us__container__text-container .why-choose-us__container__text-container__paragraph div:last-child {
  margin-bottom: 45px;
}
body .wrapper .container main .why-choose-us .why-choose-us__content .why-choose-us__container .why-choose-us__container__text-container .why-choose-us__container__text-container__button a {
  display: block;
  max-width: 225px;
  background-image: url("../img/button.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  font-size: 16px;
  padding: 20px 0px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}
body .wrapper .container main .why-choose-us .why-choose-us__content .why-choose-us__container .why-choose-us__container__image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  flex: 1 0 40%;
}
body .wrapper .container main .why-choose-us .why-choose-us__content .why-choose-us__container .why-choose-us__container__image-container .row-one {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex: 1 1 100%;
}
body .wrapper .container main .why-choose-us .why-choose-us__content .why-choose-us__container .why-choose-us__container__image-container .row-one .image-one {
  display: flex;
  background-image: url("../img/why-choose-us-image-one.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex: 0 0 70%;
  height: 220px;
}
body .wrapper .container main .why-choose-us .why-choose-us__content .why-choose-us__container .why-choose-us__container__image-container .row-two {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex: 1 1 100%;
}
body .wrapper .container main .why-choose-us .why-choose-us__content .why-choose-us__container .why-choose-us__container__image-container .row-two .image-two {
  display: flex;
  background-image: url("../img/why-choose-us-image-two.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex: 0 0 70%;
  height: 220px;
}
body .wrapper .container main .how-it-works {
  background-color: #333333;
}
body .wrapper .container main .how-it-works .how-it-works__content {
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
body .wrapper .container main .how-it-works .how-it-works__content .how-it-works__content__block {
  flex: 0 0 20%;
  text-align: center;
}
body .wrapper .container main .how-it-works .how-it-works__content .how-it-works__content__block .block__icon svg {
  width: auto;
  height: 60px;
}
body .wrapper .container main .how-it-works .how-it-works__content .how-it-works__content__block .block__description {
  font-size: 36px;
  line-height: 26px;
  color: white;
  margin-top: 30px;
}
body .wrapper .container main .grand-spain-block-one {
  background-image: url("../img/grand-spain-block-one.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body .wrapper .container main .grand-spain-block-one .grand-spain-block-one__content {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  min-height: 700px;
  padding: 100px 0px;
}
body .wrapper .container main .grand-spain-block-one .grand-spain-block-one__content .grand-spain-block-one__content__block {
  color: white;
  background-color: rgba(35, 35, 35, 0.9);
  max-width: 540px;
  padding: 50px 30px;
  font-family: "Josefin Sans", sans-serif;
  align-self: flex-end;
}
body .wrapper .container main .grand-spain-block-one .grand-spain-block-one__content .grand-spain-block-one__content__block .block__text {
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
}
body .wrapper .container main .grand-spain-block-one .grand-spain-block-one__content .grand-spain-block-one__content__block .block__headline {
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 30px 0px;
}
body .wrapper .container main .grand-spain-block-one .grand-spain-block-one__content .grand-spain-block-one__content__block .block__description {
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  margin-bottom: 40px;
}
body .wrapper .container main .grand-spain-block-one .grand-spain-block-one__content .grand-spain-block-one__content__block .block__button a {
  display: block;
  max-width: 225px;
  background-image: url("../img/button.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  font-size: 16px;
  padding: 20px 0px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Aleo", serif;
}
body .wrapper .container main .grand-spain-block-two {
  background-image: url("../img/grand-spain-block-two.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body .wrapper .container main .grand-spain-block-two .grand-spain-block-two__content {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  min-height: 700px;
  padding: 100px 0px;
}
body .wrapper .container main .grand-spain-block-two .grand-spain-block-two__content .grand-spain-block-two__content__block {
  color: white;
  background-color: rgba(35, 35, 35, 0.9);
  max-width: 540px;
  padding: 50px 30px;
  font-family: "Josefin Sans", sans-serif;
  align-self: flex-end;
}
body .wrapper .container main .grand-spain-block-two .grand-spain-block-two__content .grand-spain-block-two__content__block .block__text {
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
}
body .wrapper .container main .grand-spain-block-two .grand-spain-block-two__content .grand-spain-block-two__content__block .block__headline {
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 30px 0px;
}
body .wrapper .container main .grand-spain-block-two .grand-spain-block-two__content .grand-spain-block-two__content__block .block__description {
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  margin-bottom: 40px;
}
body .wrapper .container main .grand-spain-block-two .grand-spain-block-two__content .grand-spain-block-two__content__block .block__button a {
  display: block;
  max-width: 225px;
  background-image: url("../img/button.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  font-size: 16px;
  padding: 20px 0px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Aleo", serif;
}
body .wrapper .container main .testimonial {
  background-image: url("../img/testimonial.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}
body .wrapper .container main .testimonial .testimonial__content {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 730px;
}
body .wrapper .container main .testimonial .testimonial__content .testimonial__headline {
  font-size: 36px;
  line-height: 26px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 100px;
}
body .wrapper .container main .testimonial .testimonial__content .testimonial__container {
  display: flex;
  align-self: center;
  min-height: 300px;
}
body .wrapper .container main .testimonial .testimonial__content .testimonial__container .testimonial__content__block {
  display: flex;
  flex-direction: row;
  background-color: #333333;
  font-family: "Josefin Sans", sans-serif;
}
body .wrapper .container main .testimonial .testimonial__content .testimonial__container .testimonial__content__block .testimonial__content__image {
  background-image: url("../img/testimonial__content__image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex: 0 0 40%;
}
body .wrapper .container main .testimonial .testimonial__content .testimonial__container .testimonial__content__block .testimonial__content__text {
  padding: 50px 60px;
  flex: 0 0 60%;
}
body .wrapper .container main .testimonial .testimonial__content .testimonial__container .testimonial__content__block .testimonial__content__text .block__headline {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
  margin-bottom: 30px;
}
body .wrapper .container main .testimonial .testimonial__content .testimonial__container .testimonial__content__block .testimonial__content__text .block__description {
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
}
body .wrapper .container main .testimonial .testimonial__content .testimonial__container .testimonial__content__block .testimonial__content__text .block__description i {
  color: #5474fd;
  font-size: 20px;
  display: block;
  float: left;
  margin-right: 10px;
}
body .wrapper .container footer {
  background-color: #232323;
}
body .wrapper .container footer .footer-container {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 268px;
}
body .wrapper .container footer .footer-container .footer-container__block {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
body .wrapper .container footer .footer-container .footer-container__block .footer-container__logo {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  margin-bottom: 30px;
}
body .wrapper .container footer .footer-container .footer-container__block .footer-container__logo span {
  font-size: 16px;
  font-weight: 400;
  display: block;
}
body .wrapper .container footer .footer-container .footer-container__block .footer-container__social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}
body .wrapper .container footer .footer-container .footer-container__block .footer-container__social-icons a svg {
  width: auto;
  height: 16px;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
  body .wrapper .container header .first-screen {
    min-height: 400px;
  }
  body .wrapper .container header .first-screen .first-screen__content {
    max-width: 1110px;
    margin: 0 auto;
    text-align: center;
    padding: 70px 20px;
  }
  body .wrapper .container header .first-screen .first-screen__content .first-screen__logo {
    font-family: "Josefin Sans", sans-serif;
    color: white;
    font-size: 48px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
  }
  body .wrapper .container header .first-screen .first-screen__content .first-screen__logo span {
    font-size: 22px;
    font-weight: 400;
    display: block;
    letter-spacing: 5px;
    margin-top: 10px;
  }
  body .wrapper .container header .first-screen .first-screen__content .first-screen__search {
    padding: 2px;
    background-color: white;
    max-width: 300px;
    margin: 50px auto 60px auto;
    flex-direction: row;
    justify-content: space-between;
  }
  body .wrapper .container header .first-screen .first-screen__content .first-screen__search form {
    display: flex;
    flex-wrap: wrap;
  }
  body .wrapper .container header .first-screen .first-screen__content .first-screen__search form input[type=search] {
    flex: 0 0 100%;
    color: #999999;
    font-size: 14px;
    padding: 20px 30px;
    letter-spacing: 1px;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
  }
  body .wrapper .container header .first-screen .first-screen__content .first-screen__search form input[type=submit] {
    flex: 0 0 100%;
    background-image: url("../img/loupe.png");
    background-position-Y: 50%;
    background-position-x: 90%;
    background-repeat: no-repeat;
    background-color: #5474fd;
    color: white;
    font-size: 14px;
    padding: 23px 30px 20px 30px;
    letter-spacing: 1px;
  }
  body .wrapper .container header .first-screen .first-screen__content .first-screen__scroll-down .scroll-down__text {
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: white;
    letter-spacing: 2px;
    font-weight: 400;
  }
  body .wrapper .container header .first-screen .first-screen__content .first-screen__scroll-down .scroll-down__icon svg {
    width: 13px;
    height: auto;
  }
  body .wrapper .container main .why-choose-us .why-choose-us__content {
    padding: 60px 20px;
    min-height: 420px;
  }
  body .wrapper .container main .why-choose-us .why-choose-us__content .why-choose-us__container {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  body .wrapper .container main .why-choose-us .why-choose-us__content .why-choose-us__container .why-choose-us__container__text-container {
    display: block;
    max-width: 100%;
  }
  body .wrapper .container main .why-choose-us .why-choose-us__content .why-choose-us__container .why-choose-us__container__text-container .why-choose-us__container__text-container__headline {
    font-size: 36px;
    line-height: 26px;
    margin-bottom: 50px;
  }
  body .wrapper .container main .why-choose-us .why-choose-us__content .why-choose-us__container .why-choose-us__container__text-container .why-choose-us__container__text-container__paragraph {
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    font-family: "Josefin Sans", sans-serif;
  }
  body .wrapper .container main .why-choose-us .why-choose-us__content .why-choose-us__container .why-choose-us__container__text-container .why-choose-us__container__text-container__paragraph div {
    margin-bottom: 35px;
  }
  body .wrapper .container main .why-choose-us .why-choose-us__content .why-choose-us__container .why-choose-us__container__text-container .why-choose-us__container__text-container__paragraph div:last-child {
    margin-bottom: 45px;
  }
  body .wrapper .container main .why-choose-us .why-choose-us__content .why-choose-us__container .why-choose-us__container__text-container .why-choose-us__container__text-container__button a {
    display: block;
    margin: 0px auto 60px auto;
    max-width: 225px;
    background-image: url("../img/button.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 16px;
    padding: 20px 0px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
  }
  body .wrapper .container main .why-choose-us .why-choose-us__content .why-choose-us__container .why-choose-us__container__image-container {
    display: block;
    max-width: 100%;
  }
  body .wrapper .container main .why-choose-us .why-choose-us__content .why-choose-us__container .why-choose-us__container__image-container .row-one {
    display: block;
  }
  body .wrapper .container main .why-choose-us .why-choose-us__content .why-choose-us__container .why-choose-us__container__image-container .row-one .image-one {
    background-image: url("../img/why-choose-us-image-one.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 350px;
    height: 220px;
    margin: 0 auto 10px auto;
  }
  body .wrapper .container main .why-choose-us .why-choose-us__content .why-choose-us__container .why-choose-us__container__image-container .row-two {
    display: block;
  }
  body .wrapper .container main .why-choose-us .why-choose-us__content .why-choose-us__container .why-choose-us__container__image-container .row-two .image-two {
    background-image: url("../img/why-choose-us-image-two.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 350px;
    height: 220px;
    margin: 0 auto;
  }
  body .wrapper .container main .how-it-works {
    background-color: #333333;
  }
  body .wrapper .container main .how-it-works .how-it-works__content {
    max-width: 1110px;
    margin: 0 auto;
    padding: 60px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  body .wrapper .container main .how-it-works .how-it-works__content .how-it-works__content__block {
    flex: 0 0 100%;
    text-align: center;
    margin-bottom: 40px;
  }
  body .wrapper .container main .how-it-works .how-it-works__content .how-it-works__content__block .block__icon svg {
    width: auto;
    height: 60px;
  }
  body .wrapper .container main .how-it-works .how-it-works__content .how-it-works__content__block .block__description {
    font-size: 36px;
    line-height: 26px;
    color: white;
    margin-top: 30px;
  }
  body .wrapper .container main .grand-spain-block-one {
    background-image: url("../img/grand-spain-block-one.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  body .wrapper .container main .grand-spain-block-one .grand-spain-block-one__content {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    min-height: 400px;
    padding: 60px 20px;
  }
  body .wrapper .container main .grand-spain-block-one .grand-spain-block-one__content .grand-spain-block-one__content__block {
    max-width: 540px;
    padding: 50px 30px;
    font-family: "Josefin Sans", sans-serif;
    align-self: flex-end;
    text-align: center;
  }
  body .wrapper .container main .grand-spain-block-one .grand-spain-block-one__content .grand-spain-block-one__content__block .block__text {
    font-size: 20px;
    line-height: 26px;
    font-weight: 300;
  }
  body .wrapper .container main .grand-spain-block-one .grand-spain-block-one__content .grand-spain-block-one__content__block .block__headline {
    margin: 30px 0px;
  }
  body .wrapper .container main .grand-spain-block-one .grand-spain-block-one__content .grand-spain-block-one__content__block .block__description {
    margin-bottom: 40px;
  }
  body .wrapper .container main .grand-spain-block-one .grand-spain-block-one__content .grand-spain-block-one__content__block .block__button a {
    margin: 0 auto;
  }
  body .wrapper .container main .grand-spain-block-two {
    background-image: url("../img/grand-spain-block-two.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  body .wrapper .container main .grand-spain-block-two .grand-spain-block-two__content {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    min-height: 400px;
    padding: 60px 20px;
  }
  body .wrapper .container main .grand-spain-block-two .grand-spain-block-two__content .grand-spain-block-two__content__block {
    max-width: 540px;
    padding: 50px 30px;
    font-family: "Josefin Sans", sans-serif;
    align-self: flex-end;
    text-align: center;
  }
  body .wrapper .container main .grand-spain-block-two .grand-spain-block-two__content .grand-spain-block-two__content__block .block__headline {
    margin: 30px 0px;
  }
  body .wrapper .container main .grand-spain-block-two .grand-spain-block-two__content .grand-spain-block-two__content__block .block__description {
    margin-bottom: 40px;
  }
  body .wrapper .container main .grand-spain-block-two .grand-spain-block-two__content .grand-spain-block-two__content__block .block__button a {
    margin: 0 auto;
  }
  body .wrapper .container main .testimonial {
    background-image: url("../img/testimonial.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
  }
  body .wrapper .container main .testimonial .testimonial__content {
    margin: 0 auto;
    padding: 60px 20px;
    min-height: 400px;
  }
  body .wrapper .container main .testimonial .testimonial__content .testimonial__headline {
    font-size: 36px;
    line-height: 26px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 60px;
  }
  body .wrapper .container main .testimonial .testimonial__content .testimonial__container {
    min-height: auto;
  }
  body .wrapper .container main .testimonial .testimonial__content .testimonial__container .testimonial__content__block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  body .wrapper .container main .testimonial .testimonial__content .testimonial__container .testimonial__content__block .testimonial__content__image {
    background-image: url("../img/testimonial__content__image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex: 1 1 100%;
    min-height: 284px;
  }
  body .wrapper .container main .testimonial .testimonial__content .testimonial__container .testimonial__content__block .testimonial__content__text {
    flex: 1 1 100%;
  }
  body .wrapper .container footer {
    background-color: #232323;
  }
  body .wrapper .container footer .footer-container {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 268px;
  }
  body .wrapper .container footer .footer-container .footer-container__block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  body .wrapper .container footer .footer-container .footer-container__block .footer-container__logo {
    font-family: "Josefin Sans", sans-serif;
    color: white;
    font-size: 24px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    margin-bottom: 30px;
  }
  body .wrapper .container footer .footer-container .footer-container__block .footer-container__logo span {
    font-size: 16px;
    font-weight: 400;
    display: block;
  }
  body .wrapper .container footer .footer-container .footer-container__block .footer-container__social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
  }
  body .wrapper .container footer .footer-container .footer-container__block .footer-container__social-icons a svg {
    width: auto;
    height: 16px;
  }
  body .menu .header__container {
    padding: 0px 15px !important;
  }
  body .menu .header__container .container__body {
    height: 60px !important;
    margin: 0px;
    margin: 0px !important;
  }
  body .menu .header__container .container__body .header__logo a {
    margin-left: 0px !important;
    z-index: 0 !important;
  }
  body .menu .header__container .container__body .header__burger {
    display: block;
    position: relative;
    width: 40px;
    height: 30px;
    z-index: 3;
  }
  body .menu .header__container .container__body .header__burger span {
    position: absolute;
    background-color: white;
    left: 0;
    width: 100%;
    height: 2px;
    top: 14px;
    transition: all 0.3s ease;
  }
  body .menu .header__container .container__body .header__burger:before, body .menu .header__container .container__body .header__burger:after {
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease;
  }
  body .menu .header__container .container__body .header__burger:before {
    top: 0;
  }
  body .menu .header__container .container__body .header__burger:after {
    bottom: 0;
  }
  body .menu .header__container .container__body .header__burger.active {
    position: fixed;
    top: 35px;
    right: 20px;
  }
  body .menu .header__container .container__body .header__burger.active span {
    transform: scale(0);
  }
  body .menu .header__container .container__body .header__burger.active:before {
    transform: rotate(45deg);
    top: 14px;
  }
  body .menu .header__container .container__body .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 14px;
  }
  body .menu .header__container .container__body .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0c2749;
    padding: 20px 20px 20px 20px;
    transition: all 0.3s ease;
  }
  body .menu .header__container .container__body .header__menu .header__list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  body .menu .header__container .container__body .header__menu .header__list li {
    padding: 20px 0px;
    margin: 0px !important;
  }
  body .menu .header__container .container__body .header__menu.active {
    top: 0;
  }
}

/*# sourceMappingURL=style-index.css.map */
